*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
}

.cards{
    position: fixed;
    transform: translate(7%, -85%);
    width: 90%;
    height: 500px;
    margin: 500px auto;
    font-size: 0;
}

.card{
    text-align: left;
    display: inline-block;
    width: 300px;
    height: 100%;
    padding-left: 2em;
    padding-top: 3em;
    font-size: 1rem;
    color: hsl(0 0% 100%/ 0.75);
    font-family: "Lexend Deca", sans-serif;
}

.card__tittle{
    font-size: 3rem;
    font-family: 'Big Shoulders Display', sans-serif;
    margin: 30px 0 30px 0;
}

.card_orange{
    background-color: hsl(31, 77%, 52%);
}

.card_cyan{
    background-color: hsl(184, 100%, 22%);
}

.card_darkcyan{
    background-color: hsl(179, 100%, 13%);
}

.card_desc{
    text-align: left;
    height: 220px;
    width: 200px;
}

.card_atp{
    width: 10px;
    padding: 0.7em 2em;
    border-radius: 40px;
    background-color: white;
    text-decoration: none;/*quita las propiedas que pone el html como colores*/
}

.card_atp-orange{
    color: hsl(31, 77%, 52%);
}

.card_atp-cyan{
    color: hsl(184, 100%, 22%);
}

.card_atp-darkcyan{
    color: hsl(179, 100%, 13%);
}

/*
Colores
    Background: #333

    Tarjetas
        Orange: hsl(31, 77%, 52%)
        Cyan: hsl(184, 100%, 22%)
        Dark cyan: hsl(179, 100%, 13%)
    
    Texto
        Blanco al 0.75 de opacidad

Fuentes de la página
    Títulos
        https://fonts.google.com/specimen/Big+Shoulders+Display
        Estilo 600
    Textos
        https://fonts.google.com/specimen/Lexend+Deca
        Estilo 400
*/

